body  {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f4f6;
    text-align: center;
    background: linear-gradient(135deg,#ff9a9e, #fad0c4);
}

h1  {
    color: #0909;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 50px;
    border: 2px solid black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    box-shadow: 3px 3px 3px rgba(39, 1, 255, 0.9);
    transition: all 0.3s ease-in-out;
}

h1:hover {
    background-color: rgb(221, 124, 208);
    color: #0909;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
ul {
    list-style-type: none;
    padding: 0;
    margin-right: 65vw;
}

li {
    display: flex;
    justify-content: space-between;
    border: solid 2px;
    font-size: 18px;
    background-color: greenyellow;
    padding: 10px;
    margin: 5px 0;
    width: auto;
    border-radius: 50px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

}

.item:hover {
    background-color: greenyellow;
    transform: scale(1.08);
    transition: 0.2s ease-in-out;
}

.preco {
    font-weight: bold;
    color: #fc0000;
    
}

.preco:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}
